name: Elixir CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup elixir
      uses: erlef/setup-elixir@v1
      with:
        elixir-version: "1.11"
        otp-version: "23"
    - name: Install Dependencies
      run: mix deps.get
    - name: Run Tests
      run: mix test
